body {
	margin: 0;
	padding: 80px 0;
	font-family: Serif;
} 
div.main {
	margin: 0px auto;
	padding: 16px;
	max-width: 1152px;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .1);;
} 
pre {
	background: #eee;
	padding: 16px;
	overflow-x: auto;
}
li {
	margin-left: 16px;
}
p {
	margin: 8px 0;
	font-family: Sans-Serif;
}
blockquote {
	background: #ffc;
	padding: 16px;
	margin: 8px;
}
div.toc {
	float: right;
	margin: 16px;
	padding: 0;
	max-width: 256px;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .1);;
	background: #fff;
	font-family: Sans-Serif;
}
@media screen and (max-width: 728px) {
	div.toc {
		float: none;
		margin: 16px auto;
		padding: 16px;
		max-width: 728px;
	}
}
div.toc .icon {
	float: left;
	margin: 4px 0;
}
div.toc ul {
	margin: 8px;
}
div.toc .l1  {
	margin-left: 0px;
	list-style-type: square;
}
div.toc .l2  {
	margin-left: 10px;
	list-style-type: circle;
}
div.toc .l3  {
	margin-left: 20px;
	list-style-type: disc;
}
.control {
	float: left;
	margin: 4px;
}
.check-bigger:checked ~ .main {
	font-size: 150%;
}
.check-big:checked ~ .main {
	font-size: 120%;
}
.check-normal:checked ~ .main {
	font-size: 100%;
}
.check-small:checked ~ .main {
	font-size: 80%;
}
.check-smaller:checked ~ .main {
	font-size: 50%;
}
div.inline-img img {
	max-width: 100%;
}
div.topanchor {
	margin: 0px auto;
	padding: 16px;
	max-width: 1152px;
	text-align: right;
}
div.topanchor a {
	text-decoration: none;
}
div.gemini {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 8px 0;
	font-family: monospace;
	font-size: 120%;
	background: #000;
}
div.gemini a {
	color: #3f3;
	text-decoration: none;
	word-break: break-all;
}
div.gemini span {
	color: #fff;
	font-size: 150%;
	margin-left: 16px;
}
