body {
	margin: 0;
	padding: 80px 0;
	font-family: Verdana, Sans-Serif;
} 
div.main {
	margin: 0px auto;
	padding: 16px;
	max-width: 1152px;
} 
pre {
	font-family: Monaco, Courier, monospace;
	background: #000;
	color: #3c3;
	padding: 16px;
	margin: 16px 0;
	overflow-x: auto;
	border-radius: 8px;
}
li {
	margin-left: 16px;
}
p {
	margin: 8px 0;
}
a {
	color: #009;
	text-decoration: none;
}
blockquote {
	background: #eee;
	padding: 8px 16px;
	margin: 0 0 0 8px;
	border-radius: 8px;
}
div.toc {
	float: right;
	margin: 0 16px;
	padding: 0;
	max-width: 256px;
	background: #000;
	color: #3c3;
	border-radius: 8px;
}
@media screen and (max-width: 728px) {
	div.toc {
		float: none;
		margin: 16px auto;
		padding: 16px;
		max-width: 728px;
	}
}
div.toc ul {
	margin: 8px;
}
div.toc a {
	color: #3c3;
	text-decoration: none;
}
div.toc .l1  {
	margin-left: 0px;
	list-style-type: square;
}
div.toc .l2  {
	margin-left: 10px;
	list-style-type: circle;
}
div.toc .l3  {
	margin-left: 20px;
	list-style-type: disc;
}
.control {
	float: left;
	margin: 4px;
}
.check-bigger:checked ~ .main {
	font-size: 150%;
}
.check-big:checked ~ .main {
	font-size: 120%;
}
.check-normal:checked ~ .main {
	font-size: 100%;
}
.check-small:checked ~ .main {
	font-size: 80%;
}
.check-smaller:checked ~ .main {
	font-size: 50%;
}
div.inline-img img {
	max-width: 100%;
}
div.topanchor {
	margin: 0px auto;
	padding: 16px;
	max-width: 1152px;
	text-align: right;
}
div.topanchor a {
	text-decoration: none;
}
div.gemini {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 8px 0;
	font-family: Monaco, Courier, monospace;
	font-size: 120%;
	background: #000;
}
div.gemini a {
	color: #3c3;
	text-decoration: none;
	word-break: break-all;
}
div.gemini span {
	color: #fff;
	font-size: 150%;
	margin-left: 16px;
}


@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background: #333;
	}
	a {
		color: #99f;
	}
	blockquote {
		color: #fff;
		background: #666;
	}
}
